*{
    margin: 0;
    padding: 0;
}
.for-image{
    position: relative;
    
    
}
.for-nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

}


.for-text{
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: 0;
}
.heading-button{
    padding: 1rem 2rem;
    background-color: rgba(146, 246, 246, 0.406);
    color: white;
}
.gray{
font-size: 6rem;
color: rgba(255, 255, 255, 0.358);
letter-spacing: 15px;
}
.gray-text{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.358);
    letter-spacing: 2px;
}
.about{
    color: rgba(255, 255, 255, 0.358);
}
.for-h1{
    color: rgba(255, 255, 255, 0.358);
}

.after-image{
    height: 100vh;
}
.after-image img{
    width: 100%;
}
.text{
    width:50%;
}
.second-text{
    margin-top: 15rem;
}
.third-text{
    margin-top: 15rem;
}
.third-para{
    width: 20rem;
    margin-left: 10rem;
    
    
}
.third-para h3{
    color: rgba(0, 0, 0, 0.585);
}
.for-images{
    margin-top: 10rem;
}

.subscribe{
    margin-top: 10rem;
}
.footer{
    background-image: url("./pexels-wouter-de-jong-571169.jpg");
    height:100vh;
    background-size: cover;
    /* background-position: center; */
    
}
.footer-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    margin-top: 10rem;
}
.icon-1{
    font-size: 2rem;
}
.upper{
    margin-top: 2rem;
}
.footer-input{
    padding: 1rem 10rem;
    border-radius: 1rem;
    border: none;
}
.lower{
    margin-top:2rem ;
}
.card-1{
    height: 15rem;
    width: 20rem;
    background-color: white;
    border-radius: 1rem;
}
.card-1 h5{
    margin-top: 1rem;
    letter-spacing: 5px;
}
.card-1 i{
    margin-top: 3rem;
    font-size: 1.5rem;
}
.card-2{
    height: 15rem;
    width: 20rem;
    background-color: white;
    border-radius: 1rem;

}
.card-2 h5{
    margin-top: 1rem;
    letter-spacing: 5px;  
}
.card-2 i{
    margin-top: 3rem;
    font-size: 1.5rem;
}
.card-3{
    height: 15rem;
    width: 20rem;
    background-color: white;
    border-radius: 1rem;

}
.card-3 h5{
    margin-top: 1rem;
    letter-spacing: 5px;  
}
.card-3 i{
    margin-top: 3rem;
    font-size: 1.5rem;
}
.footer-adress{
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.313);
}
.footer-2{
    margin-top: 15rem;
}